.nl {
  clear: both;
}

.square {
  display:inline-block;
  vertical-align: middle;
  height:2.5rem;
  width:2.5rem;
  background-color:gray;
}

#grid{
  width: 600px;
  border: 1px solid #000;
  margin: auto;
  text-align: center;
}

#content {
  width: 610px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 5px solid black; 
}

#controls {
  margin: 15px auto 15px;
  text-align: center;
}

button {
  background-color: #f1f1f1;
  padding: 5px;
  font-size:1.1em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.select {
  background: url(http://i62.tinypic.com/15xvbd5.png)
    no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  margin: auto;
}

.select select {
  background: transparent;
  border: none;
  font-size:14px;
  height: 29px;
  padding: 5px;
  width: 268px;
}
.select-color {
  background-color: #f1f1f1;
  border-radius: 5px;
}
select:focus {
  outline:none;
}
